:root {
    --cor-principal: #d32f2f;
    --cor-secundaria: #ffffff;
    --cor-claro: #f8d7da;
    --cor-escuro: #a00;
    --cor-gradiente: linear-gradient(135deg, #d32f2f 30%, #a00 100%);
    --cor-fundo: url('background-texture.png'), linear-gradient(180deg, #ffffff 20%, #f8d7da 100%);
    font-family: 'Montserrat',sans-serif;
}

body {
    background: linear-gradient(to bottom, var(--cor-secundaria) 70%, var(--cor-claro) 100%);
    color: var(--cor-escuro);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--cor-principal);
    padding: 30px;
    text-align: right;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
}

.logo a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.logo a:hover {
    text-decoration: none;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animated-title {
    font-size: 2.5rem;
    font-weight: bold;
    animation: fadeIn 1.5s ease-in-out, floatText 3s infinite alternate;
}

.animated-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out;
}

.fases-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.fase-card {
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--cor-secundaria);
    text-align: center;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fase-facil { background: #28a745; border: gray 2px solid;}
.fase-medio { background: #ffc107; border: gray 2px solid; }
.fase-dificil { background: #fd7e14; border: gray 2px solid; }
.fase-extremo { background: #dc3545; border: gray 2px solid; }

.fase-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

footer {
    width: 100%;
    text-align: center;
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 10px 0;
    position: relative;
}