:root {
    --cor-principal: #d32f2f;
    --cor-secundaria: #ffffff;
    --cor-claro: #f8d7da;
    --cor-escuro: #a00;
    --cor-gradiente: linear-gradient(135deg, #d32f2f 30%, #a00 100%);
    --cor-fundo: linear-gradient(to bottom, #ffffff 70%, #f8d7da 100%);
    font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-escuro);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: var(--cor-principal);
    padding: 20px;
    text-align: center;
}

#logo h1 {
    margin: 0;
    font-size: 24px;
    color: var(--cor-secundaria);
}

#logo a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: bold;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
}

.suporte-button {
    display: inline-block;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-secundaria);
    background: var(--cor-principal);
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.suporte-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.button-resposta {
    display: inline-block;
    margin: 10px auto;
    padding: 6px 6px;
    font-size: 12px;
    font-weight: bold;
    color: var(--cor-secundaria);
    background: var(--cor-principal);
    border-radius: 2px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.marginBottom {
    padding-bottom: 20px;
}

.marginTop {
    margin-top: 20px;
}

@media (max-width: 768px) {
    #content {
        padding: 10px;
        font-size: 1rem;
    }

    .suporte-button {
        font-size: 14px;
        padding: 10px 15px;
    }

    #logo h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #content {
        font-size: 0.9rem;
    }

    .suporte-button {
        font-size: 12px;
        padding: 8px 12px;
    }

    #logo h1 {
        font-size: 18px;
    }
}

.question {
    margin-bottom: 20px; /* Espaçamento entre as perguntas */
}

.question-label {
    font-weight: bold; /* Destaque para o texto da pergunta */
    font-size: 1.2rem; /* Aumenta o tamanho do texto da pergunta */
}

.answer-option {
    display: block; /* Cada opção de resposta ocupa uma linha completa */
    margin: 10px 0; /* Espaçamento entre as opções de resposta */
}

.star-container {
    text-align: center;
    font-size: 32px; /* Aumenta o tamanho das estrelas */
    margin-bottom: 15px;
}

.star {
    margin: 0 8px; /* Aumenta o espaçamento entre as estrelas */
}

.full {
    color: gold; /* Cor da estrela preenchida */
}

.empty {
    color: lightgray; /* Cor da estrela vazia */
}