:root {
    --cor-principal: #d32f2f;
    --cor-secundaria: #ffffff;
    --cor-claro: #f8d7da;
    --cor-escuro: #a00;
    --cor-gradiente: linear-gradient(135deg, #d32f2f 30%, #a00 100%);
    --cor-fundo: url('background-texture.png'), linear-gradient(180deg, #ffffff 20%, #f8d7da 100%);
    font-family: 'Montserrat',sans-serif;
}

body {
    background: linear-gradient(to bottom, var(--cor-secundaria) 70%, var(--cor-claro) 100%);
    color: var(--cor-escuro);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: var(--cor-principal);
    padding: 30px;
    text-align: right;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
}

.logo a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.logo a:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 87vh;
}

.caixa-pontuacao {
    background: var(--cor-claro);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

.container h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--cor-escuro);
}
.container p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--cor-escuro);
}

.score-box p{
    font-size: 30px;
}

.score-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--cor-principal);
}
.score-value{
    font-size: 30px;
}

.score-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background: var(--cor-secundaria);
    color: var(--cor-principal);
    padding: 15px 30px;
    border: 2px solid var(--cor-principal); /* Borda retangular */
    border-radius: 10px; /* Bordas arredondadas */
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.btn:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 10px 0;
}
